main { margin: auto; max-width: 1200px; }

@import url("https://fonts.googleapis.com/css?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.container {
  max-width: fit-content;
  max-width: 1200px;
  margin-top: 50px;
}

/* .navbar-nav {
  flex-flow: column wrap;
} */

.jumbotron {
  max-width: 1900px;
  /* max-height: 200px; */
  background-color:rgba(255, 255, 255, 0.900);
  /*font-family: sans-serif;*/
}

.song-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
  /* background-color:rosybrown; */
}

.song-container .song, .song-container .songResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  margin: 10px;
  padding: 0;
  /* border: 1px solid #e5e5e5; */
  border-radius: 5px;
  /* background-color: white; */
}

.song .header, .songResults .song_title, .songResults .artist_name, .songResults .peak_position, .songResults .weeks_on_chart, .songResults .data {
  display: flex;
  flex: 1 0 25%;
  padding: 0 10px;
  margin: 5px;
}

.songResults .week_position{
  display: flex;
  flex: 1 0 25%;
  padding: 0 10px;
  margin: 5px;
  /* text-align: center; */
}

/* just installed */
.table-container {
  margin: 10px;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 100%;
}

tr.expandable > td {
  box-shadow: inset 0 2px 6px -3px rgba(59, 59, 59, 0.356);
  padding: 0;
  background-color:rgba(0, 195, 255, 0.13);

  margin: 1px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

tr.expandable > td > .inner {
  margin: 10px;
  overflow: hidden;
  flex: 1 0 25%;

}

.button {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 300;
  padding: 2px 24px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin: 5px 5px 5px 10px;
}

.button:hover {
  background-color: #17476e;
  color: white;
}

.button:active {
  background-color: #17476e;
  box-shadow: 0 4px rgb(131, 131, 131);
  transform: translateY(4px);
}

input {
  width: 25%;
  padding: 5px 12px;
  margin: 4px 0;
  box-sizing: border-box;
}

.header {
  font-family: "Roboto", sans-serif;
}

.h6 {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.h3 {
  font-size: calc(1px + 4vh);
  line-height: calc(1px + 4vh);
  font-family: "Lobster", sans-serif;
}

.h2 {
  font-size: calc(12px + 8vh);
  line-height: calc(12px + 8vh);
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #4e9aff, 0 0 40px #00b7ff, 0 0 60px #16b5ff, 0 0 10px #00d9ff, 0 0 98px #001aff;
    color: #ffffff;
  font-family: "Damion", sans-serif;
  text-align: center;
  animation: blink 5s infinite;
  -webkit-animation: blink 5s infinite;
}


@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: rgb(0, 162, 255);
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #205eaf;
    color: #ffffff;
  }
}
/*205eaf*/
@keyframes blink {
  20%,
  24%,
  55% {
    color: rgb(47, 137, 197);
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 2px #ffffff, 0 0 3px #26606b, 0 0 5px #178194, 0 0 40px #ffffff, 0 0 60px #ffffff;
    color: #072e77;
  }
}

.progress {
  display: flex;
  height: 1.5rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: .25rem;
  padding: 1px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #000;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}

.url {
  text-align: center;
}