.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container .songResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;

}

.songResults .name, .songResults .artists, .songResults .acousticness, .songResults .danceability, .headers .header {
  /* flex: 1 0 25%; */
  display: flex;
  flex: 1 0 25%;
  padding: 0 10px;
  margin: 10px;
}